.gambar {
    margin: 0;
    padding: 0;
    width: 100%;
    background-image: url('https://jfx.co.id//storage/settings/September2020/Fm57a90xl7DrqkyJYHdA.jpg');

    .isi-gambar {
        padding: 120px;
        color: #fff;
    }
}